.fontAwesome {
  font-size: 1.5em;
   text-decoration: none !important;
}

.navFiller, .boxStyles, .overlay, .overlay a, .zoomCard {
  background: #A3D1FF !important;
  color: black !important;
  list-style:none !important;
  text-decoration: none !important;
}
.zoomCard a {
  text-decoration: none !important;
  color: black !important;
}
.overlay a:hover, .zoomCard:hover, .zoomCard a:hover {
  background: #72b8ff !important;
  color: black !important;
  cursor: pointer;
  text-decoration: none !important;
}
.boxStyles, .zoomCard, .overlay-content, .closebtn {
    font-size: 1.5rem !important;
    font-family: 'roboto', sans-serif;
    text-align: center;
   text-decoration: none !important;
}
.zoomCard {
    padding: 10px;
   }
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.1s;
    opacity: 1;
}
.overlay a {
    padding: 5px;
    width: 150px;
    margin: auto;
}
.overlay-content {
    margin: auto;
    
    }
.overlay a {
    line-height: 1.5em;
    text-decoration: none;
    font-size: 18px;
    display: block;
    }
.overlay .closebtn {
    margin-top: 120px;
    right: 45px;
    width: 350px;
}  
