@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
div.main-inner{
   max-width: 100% !important;
}
.fontAwesome {
  font-size: 1.5em;
   text-decoration: none !important;
  width:100%;
}
.navFiller {
  background: #006737 !important;
  height: 7.1rem;
}
.navFiller, .boxStyles, .overlay, .overlay a, .zoomCard {
  background: #006737 !important;
  color: white !important;
  list-style:none !important;
  text-decoration: none !important;  
}
.zoomCard a {
  text-decoration: none !important;
  color: white !important;
}
.overlay a:hover, .zoomCard:hover, .zoomCard a:hover {
  background: #009951 !important;
  color: white !important;
  cursor: pointer;
  text-decoration: none !important;
}
.boxStyles, .zoomCard, .overlay-content, .closebtn {
    font-family: 'roboto', sans-serif;
    text-align: center;
   text-decoration: none !important;
}
.zoomCard {
    padding: 10px;
   }
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.1s;
    opacity: 1;
}
.overlay a {
    padding: 5px;
    width: 150px;
    margin: auto;
}
.overlay-content {
    margin: auto;
    
    }
.overlay a {
    line-height: 1.5em;
    text-decoration: none;
    font-size: 18px;
    display: block;
    }
.overlay .closebtn {
    margin-top: 120px;
    right: 45px;
    width: 350px;
}  
header .card {
background: #006737;
color: white !important;
}
.page-header-headings {
color: white !important;
}
div#action-menu-3-menu, header a, .dropdown-item, dropdown-item a {
background: #006737 !important;
}
div#action-menu-3-menu:hover, header a:hover,.dropdown-item, .dropdown-item a:hover {
background: #006737 !important;
  color: white !important;
}
header a {
color: white !important;
}
